
body {
    background-color:white;
}


#poster-movies {
background-position: center center;
}


#titulo{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   font-size: 80px;
}

#titulo-2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;

}

#prinicipal-pag2 {
    background-color: aliceblue;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.tarjeta{
    width: 100%;
    max-width: 550px;
    position: relative;
    color: aliceblue; 
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor:pointer;
    z-index: 2;
    
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta > div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-self:space-between;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
     
}

.tarjeta .delantera {
width: 100%;
background: url(https://i.ibb.co/f051Rw7/34578.jpg);
background-size: cover;
}

.delantera .logo-marca {
    text-align: right;
    min-height: 50px;

}

.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;

}

.delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;



}

.delantera .grupo .label {
    font-size: 16px;
    color:darkgrey;
    margin-bottom: 5px;
}

.delantera .grupo .numero, 
.delantera .grupo .nombre,
.delantera .grupo .expiracion{
    color: aliceblue;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between
    margin-top: 20px;
}
